.dvDownloadApp {
  width: 100%;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dvDownloadApp .downloadApp {
  width: 100%;
  height: 100%;
  margin: 0 0 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  direction: rtl;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dvDownloadApp .downloadApp .app {
  margin: 0 0 0 0;
  width: 60%;
  height: 68%;
  background-color: #e9e9e9;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dvDownloadApp .downloadApp .app .logo {
  width: 19%;
}

.dvDownloadApp .downloadApp .app .tx {
  font-family: 'vazir';
  font-size: 25;
  margin: 0 2% 0 21%;
}

.dvDownloadApp .downloadApp .app button {
  padding: 20 50;
  font-family: 'vazir';
  font-weight: bold;
  color: white;
  font-size: 14;
  background-color: #fdc603;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dvDownloadApp .downloadApp .countApp {
  margin: 0 3% 0 0;
  width: 22%;
  height: 68%;
  background-color: #e9e9e9;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 0 0;
}

.dvDownloadApp .downloadApp .countApp .txDownload {
  margin-right: 15%;
  font-family: 'vazir';
  font-size: 25;
}

.dvDownloadApp .downloadApp .countApp .txCount {
  font-family: 'yekanBakht';
  font-size: 30;
}

.dvDownloadApp .downloadApp .countApp .cicle {
  width: 82;
  height: 82;
  border: 4px solid #fdc603;
  background-color: white;
  margin: 0 0 0 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 14;
}


@media screen and (max-width: 768px) {


  .dvDownloadApp {
    width: 100%;
    height: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .dvDownloadApp .downloadApp {
    width: 100%;
    height: 100%;
    margin: 0 0 2% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    direction: rtl;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
  }
  
  .dvDownloadApp .downloadApp .app {
    margin: 0 0 0 0;
    width: 90%;
    height: auto;
    background-color: #e9e9e9;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-evenly;

  }
  
  .dvDownloadApp .downloadApp .app .logo {
    width: 19%;
  }
  
  .dvDownloadApp .downloadApp .app .tx {
    font-family: 'vazir';
    font-size: 23px;
    margin: 0 0% 0 0;
  }
  
  .dvDownloadApp .downloadApp .app button {
    padding: 3%;
    font-family: 'vazir';
    font-weight: bold;
    color: white;
    font-size: 14;
    background-color: #fdc603;
    border: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
  
  .dvDownloadApp .downloadApp .countApp {
    margin: 0 3% 0 0;
    width:90%;
    height: auto;
    background-color: #e9e9e9;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 0 0 0;
  }
  
  .dvDownloadApp .downloadApp .countApp .txDownload {
    margin-right: 25PX;
    font-family: 'vazir';
    font-size: 25;
  }
  
  .dvDownloadApp .downloadApp .countApp .txCount {
    font-family: 'yekanBakht';
    font-size: 30;
  }
  
  .dvDownloadApp .downloadApp .countApp .cicle {
    width: 82;
    height: 82;
    border: 4px solid #fdc603;
    background-color: white;
    margin: 0 0 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 0 14;
  }
  /*# sourceMappingURL=mypart.css.map */

}